<div class="container" ng-controller="productCreateCtrl">
    <div class="row">
        <div class="col-sm-6">
            <form class="form-group" ng-submit="createProduct(product)">
                <label>nazwa produktu</label>
                <input class="form-control" type="text" ng-model="product.name">
                <label>waga produktu</label>
                <input class="form-control" type="text" ng-model="product.weight">
                <label>opis produktu</label>
                <textarea rows="5" class="form-control" type="text" ng-model="product.description"></textarea>
                <label>cena produktu</label>
                <input class="form-control" type="text" ng-model="product.price">
                <hr>
                <!-- przycisk zapisuje wprowadzone zmiany -->
                <button type="submit" class="btn btn-primary btn-md" ng-if="!success">Dodaj produkt</button>
                <!-- przycisk pokazujący się na chwilę po zapisaniu zmian -->
                <button type="button" class="btn btn-success btn-md" ng-if="success" disabled>Produkt dodany!</button>
                <!-- przy pomocy routingu przycisk przekierowuje z powrotem do listy produktów -->
                <button ui-sref="products" class="btn btn-default btn-md">wróć</button>
            </form>
            <div class="row">
                <div class="alert alert-success col-sm-12 text-center" ng-show="success">ZAPISANO POMYŚLNIE</div>
            </div>
        </div>
        <div class="col-sm-6">
            <div>
                <h2>{{product.name}}</h2>
                <p>Waga: {{product.weight}}</p>
                <p>Opis: {{product.description}}</p>
                <h2><span class="label label-warning">{{product.price | number: 2}} zł</span></h2>
            </div>
        </div>
    </div>
</div>