<section class="container">
    <div class="row">
        <div class="col-sm-12">
            <table class="table table-striped"  ng-controller="myOrdersCtrl">
                <thead>
                <tr>
                    <th>ID</th>
                    <th>Imię</th>
                    <th>Email</th>
                    <th>Koszyk</th>
                    <th>Do zapłaty</th>
                    <th>Status</th>
                    <th></th>
                </tr>
                </thead>
                <tbody>
                <!-- filtrowanie odbywa się po modelu wyżej o nazwie search umieszczonym w inpucie -->
                <tr ng-repeat="order in orders | filter: search">
                    <td>{{order.id}}</td>
                    <td>{{order.name}}</td>
                    <td>{{order.email}}</td>
                    <td>
                        <table class="table">
                            <thead>
                            <tr>
                                <th>produkt</th>
                                <th>cena za szt.</th>
                                <th>ilość</th>
                                <th>cena razem</th>
                            </tr>
                            </thead>
                            <tbody>
                            <tr ng-repeat="item in order.items">
                                <td>{{item.name}}</td>
                                <td>{{item.price}}</td>
                                <td>{{item.qty}}</td>
                                <td>{{item.price * item.qty | number: 2}}</td>
                            </tr>
                            </tbody>
                        </table>
                    </td>
                    <td><h3><strong>{{order.total}} zł</strong></h3></td>
                    <td>
                        <!-- ng-if wyświetla obiekt tylko wtedy, kiedy spełnianiy jest warunek (w tym wypadku - status zamówienia === 0 dla oczekujących i === 1 dla wysłanych) -->
                        <button class="btn btn-warning btn-sm" ng-if="order.status == 0" disabled>OCZEKUJE</button>
                        <button class="btn btn-success btn-sm" ng-if="order.status == 1" disabled>WYSŁANO</button>
                    </td>
                </tr>
                </tbody>
            </table>
        </div>
    </div>
</section>