<nav class="navbar navbar-inverse">
        <div class="container-fluid">
            <!-- Brand and toggle get grouped for better mobile display -->
            <div class="navbar-header">
                <button type="button" class="navbar-toggle collapsed" data-toggle="collapse" data-target="#bs-example-navbar-collapse-1"
                    aria-expanded="false">
                <span class="sr-only">Toggle navigation</span>
                <span class="icon-bar"></span>
                <span class="icon-bar"></span>
                <span class="icon-bar"></span>
            </button>
                <a class="navbar-brand" ui-sref="home">NgShop</a>
            </div>

            <!-- Collect the nav links, forms, and other content for toggling -->
            <div class="collapse navbar-collapse" id="bs-example-navbar-collapse-1">
                <ul class="nav navbar-nav">
                    <!--ng-class przypisze klasę active pod warunkiem podanym po dwukropku (tutaj warunkiem jest funkcja isActive i jako parametr przyjmuje adres-->
                    <li ng-class="{active : isActive(users)}"><a ui-sref="users">Użytkownicy</a></li>
                    <li ng-class="{active : isActive(products)}"><a ui-sref="products">Produkty</a></li>
                    <li ng-class="{active : isActive(orders)}"><a ui-sref="orders">Zamówienia</a></li>
                </ul>
                <ul class="nav navbar-nav navbar-right">
                    <li ng-class="{active : isActive(logout)}" ><a ui-sref="siteproducts">Wyjdź z panelu</a></li>
                </ul>
            </div>
            <!-- /.navbar-collapse -->
        </div>
        <!-- /.container-fluid -->
    </nav>