<div class="container" ng-controller="siteProductShowCtrl">
    <div class="row">
        <div class="col-sm-6">
            <div>
                <h2>{{product.name}}</h2>
                <p>Waga: {{product.weight}}</p>
                <p>Opis: {{product.description}}</p>
                <h2><span class="label label-warning">{{product.price | number: 2}} zł</span></h2>
                <a ui-sref="siteproducts">
                    <button class="btn btn-default btn-md">wróć</button>
                </a>
                <button ng-click="addToCart(product);checkCart(product)" class="btn btn-info btn-md" ng-if="!product.qty">Dodaj do koszyka </button>
                <button ng-click="addToCart(product); checkCart(product)" class="btn btn-primary btn-md" ng-if="product.qty">W koszyku: {{product.qty}}</button>
            </div>
        </div>
        <div class="col-sm-6">
            <div class="img-edit pull" ng-repeat="image in images">
                <!--wyswietlanie obrazka o z folderu o konkretnym id (nazwa id zgodnie ze scope podanym w kontrolerze-->
                <img ng-src="app/uploads/{{product.id}}/{{image}}" alt="" class="img-thumbnail">
            </div>
        </div>
    </div>
</div>