<form ng-submit="registerSubmit(user)">
    <div class="container">
        <div class="row">
            <div class="col-sm-6 col-sm-offset-3">

                <div class="alert alert-success" ng-if="success">Zarejestrowałeś się pomyślnie. Możesz się <a class="alert-link" ui-sref="login">zalogować</a>.</div>

                <div class="panel panel-default">

                    <div class="panel-heading">
                        <h3 class="panel-title"><strong>Rejestracja</strong></h3>
                    </div>

                    <div class="panel-body">

                        <div class="form-group" ng-class="{ 'has-error' : errors.name, 'has-success' : !errors.name && submit }">
                            <label>Email</label>
                            <input type="text" class="form-control" ng-model="user.name" placeholder="Podaj imię">
                            <span class="text-danger">{{errors.name}}</span>
                        </div>

                        <div class="form-group" ng-class="{ 'has-error' : errors.login, 'has-success' : !errors.login && submit }">
                            <label>Email</label>
                            <input type="text" class="form-control" ng-model="user.email" placeholder="Twój adres e-mail">
                            <span class="text-danger">{{errors.email}}</span>
                        </div>

                        <div class="form-group" ng-class="{ 'has-error' : errors.password, 'has-success' : !errors.password && submit }">
                            <label>Hasło</label>
                            <input type="password" class="form-control" ng-model="user.password" placeholder="Twoje hasło">
                            <span class="text-danger">{{errors.password}}</span>
                        </div>

                        <div class="form-group" ng-class="{ 'has-error' : errors.passconf, 'has-success' : !errors.passconf && submit }">
                            <label>Powtórz hasło</label>
                            <input type="password" class="form-control" ng-model="user.passconf" placeholder="Powtórz hasło">
                            <span class="text-danger">{{errors.passconf}}</span>
                        </div>

                        <br>

                        <button class="btn btn-primary btn-block">Zarejestruj się</button>

                    </div>
                </div>

            </div>
        </div>
    </div>
</form>