<form ng-submit="loginSubmit(user)">
    <div class="container">
        <div class="row">
            <div class="col-sm-6 col-sm-offset-3">

                <div class="alert alert-success" ng-if="success">Zalogowałeś się pomyślnie</div>


                <div class="panel panel-default">

                    <div class="panel-heading">
                        <h3 class="panel-title"><strong>Logowanie</strong></h3>
                    </div>

                    <div class="panel-body">

                        <div ng-if="error" class="alert alert-danger">{{error}}</div>

                        <div class="form-group" ng-class="{ 'has-error' : error, 'has-success' : !error && submit }">
                            <label>Email</label>
                            <input type="text" class="form-control" ng-model="user.email" placeholder="Podaj email">
                            <span class="text-danger">{{error}}</span>
                        </div>

                        <div class="form-group" ng-class="{ 'has-error' : error, 'has-success' : !error && submit }">
                            <label>Hasło</label>
                            <input type="password" class="form-control" ng-model="user.password" placeholder="Twoje hasło">
                            <span class="text-danger">{{error}}</span>
                        </div>

                        <br>

                        <button class="btn btn-primary btn-block">Zaloguj się</button>

                    </div>
                </div>

            </div>
        </div>
    </div>
</form>