<div class="container" ng-controller="userEditCtrl">
    <div class="row">
        <div class="col-sm-6">
            <form class="form-group" ng-submit="saveUserChanges(user)">

                <div class="form-group" ng-class="{'has-error': errors.name, 'has-success': !errors.name && success}">
                    <label>Imię</label>
                    <input class="form-control" type="text" ng-model="user.name">
                    <span class="text-danger">{{errors.name}}</span>
                </div>

                <div class="form-group" ng-class="{'has-error': errors.email, 'has-success': !errors.email && success}">
                    <label>Email</label>
                    <input class="form-control" type="text" ng-model="user.email">
                    <span class="text-danger">{{errors.email}}</span>
                </div>

                <div class="form-group" ng-class="{'has-error': errors.password, 'has-success': !errors.password && success}">
                    <label>Nowe Hasło</label>
                    <input class="form-control" type="password" ng-model="user.password">
                    <span class="text-danger">{{errors.password}}</span>
                </div>

                <div class="form-group" ng-class="{'has-error': errors.passconf, 'has-success': !errors.passconf && success}">
                    <label>Powtórz Nowe Hasło</label>
                    <input class="form-control" type="password" ng-model="user.passconf">
                    <span class="text-danger">{{errors.passconf}}</span>
                </div>

                <div class="form-group">
                    <label>Rola</label>
                    <select class="form-control" ng-model="user.role">
                        <option value="user">user</option>
                        <option value="admin">admin</option>
                    </select>
                </div>

                <hr>

                <!-- przycisk zapisuje wprowadzone zmiany -->
                <button type="submit" class="btn btn-primary btn-md" ng-if="!success">zapisz zmiany</button>
                <!-- przycisk pokazujący się na chwilę po zapisaniu zmian -->
                <button type="button" class="btn btn-success btn-md" ng-if="success" disabled>zapisano!</button>
                <!-- przy pomocy routingu przycisk przekierowuje z powrotem do listy uzytkownikow -->
                <button ui-sref="users" class="btn btn-default btn-md">wróć</button>
            </form>
        </div>
        <div class="col-sm-6">
            <div>
                <h2>Imię: {{user.name}}</h2>
                <p>Email: {{user.email}}</p>
                <p>Rola: {{user.role}}</p>
            </div>
        </div>
    </div>
</div>