<section class="container">
    <div class="row">
        <div class="col-sm-6">
            <!-- input służący jako filtorwanie pobranych wartości poniżej poprzez model "search" -->
            <input class="form-control" type="text" placeholder="szukaj..." ng-model="search" />
        </div>
        <div class="col-sm-6">
            <!-- ondośnik przenoszący do template'a obsługującego dodawanie użytkowników -->
            <a ui-sref="usercreate" class="btn btn-primary btn-md pull-right">NOWY UŻYTKOWNIK<a/>
        </div>
    </div>
    <div class="row">
        <div class="col-sm-12">
            <table class="table table-hover"  ng-controller="usersCtrl">
                <thead>
                    <tr>
                        <th>ID</th>
                        <th>Imię</th>
                        <th>Email</th>
                        <th>Role</th>
                        <th></th>
                        <th></th>
                    </tr>
                </thead>
                <tbody>
                <!-- filtrowanie odbywa się po modelu wyżej o nazwie search umieszczonym w inpucie -->
                    <tr ng-repeat="user in users | filter: search">
                        <td>{{user.id}}</td>
                        <td>{{user.name}}</td>
                        <td>{{user.email}}</td>
                        <td>{{user.role}}</td>
                        <td>
                            <a ui-sref="useredit({id: {{user.id}}})">
                                <button class="btn btn-info btn-sm"><span class="glyphicon glyphicon-pencil"></span></button>
                            </a>
                        </td>
                        <td>
                            <button class="btn btn-danger btn-sm pull-right" ng-click="deleteUser(user, $index)"><span class="glyphicon glyphicon-trash"></span></button>
                        </td>
                    </tr>
                </tbody>
            </table>
        </div>
    </div>
</section>