<div class="container">
    <div class="row">
        <div class="col-sm-6">
            <!-- input służący jako filtorwanie pobranych wartości poniżej poprzez model "search" -->
            <input class="form-control" type="text" placeholder="szukaj..." ng-model="search"/>
        </div>
        <div class="col-sm-6">
            <!-- ondośnik przenoszący do template'a obsługującego dodawanie produktów -->
            <a ui-sref="productcreate" class="btn btn-primary btn-md pull-right">DODAJ NOWY<a/>
        </div>
    </div>
    <div class="row">
        <div class="col-sm-12">
            <div ng-controller="productsCtrl">
                <!-- filtrowanie odbywa się po modelu wyżej o nazwie search umieszczonym w inpucie -->
                <div class="alert alert-info" ng-repeat="product in products | filter: search">
                    <h2>{{product.id}}</h2>
                    <!-- filter zamienia nazwy na duze litery -->
                    <p>Nazwa: {{product.name | uppercase}}</p>
                    <p>Waga: {{product.weight}}</p>
                    <p>Opis: <span class="text-capitalize">{{product.description}}</span></p>
                    <!-- filter dodaje dwa miejsca po przecinku -->
                    <p>Cena: {{product.price | number:2}} zł</p>
                    <!-- tag a przekierowuje do produktu z parametrem id (określone w routerze), do id przypisywany jest tu index -->
                    <hr>
                    <a ui-sref="productedit({id: {{product.id}}})">
                        <button class="btn btn-primary btn-md">edytuj</button>
                    </a>
                    <button class="btn btn-danger btn-md pull-right" ng-click="deleteProduct(product, $index)">usuń</button>
                </div>
            </div>
        </div>
    </div>
</div>