<nav class="navbar navbar-default">
        <div class="container-fluid">
            <!-- Brand and toggle get grouped for better mobile display -->
            <div class="navbar-header">
                <button type="button" class="navbar-toggle collapsed" data-toggle="collapse" data-target="#bs-example-navbar-collapse-1"
                    aria-expanded="false">
                <span class="sr-only">Toggle navigation</span>
                <span class="icon-bar"></span>
                <span class="icon-bar"></span>
                <span class="icon-bar"></span>
            </button>
                <a class="navbar-brand" ui-sref="home">NgShop</a>
            </div>

            <!-- Collect the nav links, forms, and other content for toggling -->
            <div class="collapse navbar-collapse" id="bs-example-navbar-collapse-1">
                <ul class="nav navbar-nav">
                    <!--ng-class przypisze klasę active pod warunkiem podanym po dwukropku (tutaj warunkiem jest funkcja isActive i jako parametr przyjmuje adres-->
                    <li ng-class="{active : isActive(siteproducts)}"><a ui-sref="siteproducts">Produkty</a></li>
                </ul>
                <ul class="nav navbar-nav navbar-right">
                    <li ng-class="{active : isActive(mycart)}"><a ui-sref="mycart">Koszyk</a></li>
                    <li ng-class="{active : isActive(myorders)}"><a ui-sref="myorders">Zamówienia</a></li>
                    <li ng-class="{active : isActive(login)}" ng-if="!loggedIn"><a ui-sref="login">Logowanie</a></li>
                    <li ><a ui-sref="login" ng-if="loggedIn" ng-click="logout()">Wyloguj</a></li>
                    <li ng-class="{active : isActive(register)}" ng-if="!loggedIn"><a ui-sref="register">Rejestracja</a></li>
                    <li ng-class="{active : isActive(admin)}" ng-if="isAdmin"><a ui-sref="orders">Admin</a></li>
                </ul>
            </div>
            <!-- /.navbar-collapse -->
        </div>
        <!-- /.container-fluid -->
    </nav>