<div class="container">
    <div class="row">
        <div class="col-sm-6">
            <!-- input służący jako filtorwanie pobranych wartości poniżej poprzez model "search" -->
            <input class="form-control" type="text" placeholder="szukaj..." ng-model="search"/>
        </div>
    </div>
    <div class="row">
        <div class="col-sm-12">
            <div ng-controller="siteProductsCtrl" class="panel-group">
                <!-- filtrowanie odbywa się po modelu wyżej o nazwie search umieszczonym w inpucie -->
                <div class="panel panel-default" ng-repeat="product in siteproducts | filter: search">
                    <!-- filter zamienia nazwy na duze litery -->
                    <div class="panel-heading">
                        <h3>Nazwa: {{product.name | uppercase}} </h3>
                    </div>
                    <div class="panel-body" ng-init="checkCart(product)">
                        <!-- filter dodaje dwa miejsca po przecinku -->
                        <h2><span class="label label-warning pull-right">Cena: {{product.price | number:2}} zł</span></h2>
                        <!-- tag a przekierowuje do produktu z parametrem id (określone w routerze), do id przypisywany jest tu index -->
                        <a ui-sref="siteproduct({id: {{product.id}}})">
                            <button class="btn btn-default btn-md">szczegóły</button>
                        </a>
                        <button ng-click="addToCart(product);checkCart(product) " class="btn btn-info btn-md" ng-if="!product.qty">Dodaj do koszyka </button>
                        <button ng-click="addToCart(product); checkCart(product)" class="btn btn-primary btn-md" ng-if="product.qty">W koszyku: {{product.qty}}</button>
                    </div>
                </div>
            </div>
        </div>
    </div>
</div>