<div class="container"  nv-file-drop="" uploader="uploader">
    <div class="row">
        <div class="col-sm-6">
            <form class="form-group" ng-submit="saveChanges(product)">
                <label>nazwa produktu</label>
                <input class="form-control" type="text" ng-model="product.name">
                <label>waga produktu</label>
                <input class="form-control" type="text" ng-model="product.weight">
                <label>opis produktu</label>
                <textarea rows="5" class="form-control" type="text" ng-model="product.description"></textarea>
                <label>cena produktu</label>
                <input class="form-control" type="text" ng-model="product.price">
                <hr>

                <div>
                    <!--UPLOADER DO zdjęć-->
                    <h3>Upload Zdjęć</h3>

                    <div ng-show="uploader.isHTML5">
                        <!-- 3. nv-file-over uploader="link" over-class="className" -->
                        <div class="well my-drop-zone" nv-file-over="" uploader="uploader">
                            Tutaj upuść zdjęcie
                        </div>
                    </div>

                    <!-- Example: nv-file-select="" uploader="{Object}" options="{Object}" filters="{String}" -->
                    <input class="btn btn-default" type="file" nv-file-select="" uploader="uploader" multiple/><br/>


                    <table class="table">
                        <thead>
                        <tr>
                            <th width="50%">Name</th>
                            <th ng-show="uploader.isHTML5">Rozmiar</th>
                            <th ng-show="uploader.isHTML5">Postęp</th>
                            <th>Status</th>
                            <th>Akcje</th>
                        </tr>
                        </thead>
                        <tbody>
                        <tr ng-repeat="item in uploader.queue">
                            <td>
                                <strong>{{ item.file.name }}</strong>
                                <!-- Image preview -->
                                <!--auto height-->
                                <!--<div ng-thumb="{ file: item.file, width: 100 }"></div>-->
                                <!--auto width-->
                                <div ng-show="uploader.isHTML5" ng-thumb="{ file: item._file, height: 100 }"></div>
                                <!--fixed width and height -->
                                <!--<div ng-thumb="{ file: item.file, width: 100, height: 100 }"></div>-->
                            </td>
                            <td ng-show="uploader.isHTML5" nowrap>{{ item.file.size/1024/1024|number:2 }} MB</td>
                            <td ng-show="uploader.isHTML5">
                                <div class="progress" style="margin-bottom: 0;">
                                    <div class="progress-bar" role="progressbar"
                                         ng-style="{ 'width': item.progress + '%' }"></div>
                                </div>
                            </td>
                            <td class="text-center">
                                <span ng-show="item.isSuccess"><i class="glyphicon glyphicon-ok"></i></span>
                                <span ng-show="item.isCancel"><i class="glyphicon glyphicon-ban-circle"></i></span>
                                <span ng-show="item.isError"><i class="glyphicon glyphicon-remove"></i></span>
                            </td>
                            <td nowrap>
                                <button type="button" class="btn btn-success btn-xs" ng-click="item.upload()"
                                        ng-disabled="item.isReady || item.isUploading || item.isSuccess">
                                    <span class="glyphicon glyphicon-upload"></span> Upload
                                </button>
                                <button type="button" class="btn btn-warning btn-xs" ng-click="item.cancel()"
                                        ng-disabled="!item.isUploading">
                                    <span class="glyphicon glyphicon-ban-circle"></span> Anuluj
                                </button>
                                <button type="button" class="btn btn-danger btn-xs" ng-click="item.remove()">
                                    <span class="glyphicon glyphicon-trash"></span> Usuń
                                </button>
                            </td>
                        </tr>
                        </tbody>
                    </table>

                    <div>
                        <div>
                            Stan kolejki:
                            <div class="progress" style="">
                                <div class="progress-bar" role="progressbar"
                                     ng-style="{ 'width': uploader.progress + '%' }"></div>
                            </div>
                        </div>
                        <button type="button" class="btn btn-success btn-s" ng-click="uploader.uploadAll()"
                                ng-disabled="!uploader.getNotUploadedItems().length">
                            <span class="glyphicon glyphicon-upload"></span> Upload wszystkiego
                        </button>
                        <button type="button" class="btn btn-warning btn-s" ng-click="uploader.cancelAll()"
                                ng-disabled="!uploader.isUploading">
                            <span class="glyphicon glyphicon-ban-circle"></span> Anuluj wszystko
                        </button>
                        <button type="button" class="btn btn-danger btn-s" ng-click="uploader.clearQueue()"
                                ng-disabled="!uploader.queue.length">
                            <span class="glyphicon glyphicon-trash"></span> Usuń wszystko
                        </button>
                    </div>
                </div>
                <br>
                <hr>

                <!--div wyswietlający info sukcesu po zapisaniu zmian do bazy -->
                <div class="row">
                        <div class="alert alert-success col-sm-12 text-center" ng-show="success">ZAPISANO POMYŚLNIE</div>
                </div>
                <div class="row">
                    <div class="col-sm-12 text-right">
                        <!-- przycisk zapisuje wprowadzone zmiany -->
                        <button type="submit" class="btn btn-primary btn-lg" ng-if="!success">zapisz zmiany</button>
                        <!-- przycisk pokazujący się na chwilę po zapisaniu zmian -->
                        <button type="button" class="btn btn-success btn-lg" ng-if="success" disabled>zapisano!</button>
                        <!-- przy pomocy routingu przycisk przekierowuje z powrotem do listy produktów -->
                        <button ui-sref="products" class="btn btn-default btn-lg">anuluj zmiany</button>
                    </div>
                </div>

            </form>

        </div>
        <div class="col-sm-6">
            <div>
                <h2>{{product.name}}</h2>
                <p>Waga: {{product.weight}}</p>
                <p>Opis: {{product.description}}</p>
                <h2><span class="label label-warning">{{product.price | number: 2}} zł</span></h2>
            </div>
            <div class="img-edit" ng-repeat="image in images">
                <div class="pull-left img-edit-container">
                    <!--przycisk usuwania obrazka ,trzeba okreslic type jako button  ,żeby formularz nie wykrywal tego przycisku jako przycisk submit do formularza-->
                    <!--w funkcji delImg przekazujemy konkretny obrazek , czyli image zgodnie z image w ng-repeat, przekazujemy tez drugi parametr $index po to, żeby usunąć z widoku ze scope zdjęcie (nie tylko z serwera), a do tego potrzeba indexu-->
                    <button type="button" ng-click="delImg(image , $index)" class="btn btn-danger btn-xs remove-photo">&times;</button>
                    <!--wyswietlanie obrazka o z folderu o konkretnym id (nazwa id zgodnie ze scope podanym w kontrolerze-->
                    <img ng-src="app/uploads/{{id}}/{{image}}" alt="" class="img-thumbnail">
                </div>

            </div>
        </div>
    </div>
</div>




